@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Skipper's Wardrobe</h2>
    <p class="lead">Welcome to Skipper's Wardrobe.<br /> She has lots of fun clothes to show you!  </p>


    
    
</div>

<div class="row">
    <div id=skipperdrawing class="col-md-4">
        <h2>Meet Skipper</h2>
        <p>
            Barbie's younger sister Skipper <br />has a style all her own.
        </p>
      
    </div>
    <div id="viewclothes"class="col-md-4">
        <h2>View Her Clothes</h2>
        <p>She has tops,<br /> bottoms,shoes and <br />accessories to<br /> choose from.</p>
       
    </div>
    <div id="viewoutfits" class="col-md-4">
        <h2>Select Skipper's outfit</h2>
        <p>There's lots to pick from to <br /> make a great outfit from top<br /> to bottom.</p>
       
    </div>
</div>